.InforVehicle {
    -fx-background-radius: 0 0 30 30;
}
.standardField {
    -fx-background-radius: 30 30 0 0;
}
.moreField {
    -fx-background-radius: 0 30 0 0;
}
.standardFieldDriver{
    -fx-background-radius: 30 30 0 0;
}

.image-button {
    -fx-background-image: url("searchIcon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: contain;
}

